<div id="pagina">
  <div id="titulo">
    <h1><strong>Mi App de Tareas</strong></h1>
  </div>
  
  <div id="tarjeta">
    <ion-card *ngFor="let tarea of tareas">
      <ion-card-header>
        <ion-card-title>{{tarea.titulo}}</ion-card-title>
        <ion-card-subtitle><strong>Fecha:</strong> {{tarea.fechaMes}}/{{tarea.fechaAnio}}</ion-card-subtitle>
        <p>{{tarea.descripcion}}</p>
      </ion-card-header>
  
      <div>
        <ion-button>+ Ver más detalles</ion-button>
      </div>
    </ion-card>
  </div>
  
  <div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button id="boton" (click)="presentModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</div>
