<div id="pagina">
  <div id="titulo">
    <h1><strong>Mi App de Tareas</strong></h1>
  </div>
  
  <div id="tarjeta">
    <ion-card *ngFor="let tarea of tareaArray; let posicion = index" class="ion-margin">
      <ion-card-header>
        <ion-card-title>{{tarea.titulo}}</ion-card-title>
      </ion-card-header>

      <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header" color="red">
            <ion-label color="danger" [routerLink]="['/tarea', posicion]"><strong>+ Ver más detalles</strong></ion-label>
          </ion-item>
        </ion-accordion>
      </ion-accordion-group>
      <div>
        <ion-button (click)="this.tareaServicio.deleteTarea(posicion)">Eliminar tarea</ion-button>
      </div>
    </ion-card>
  </div>
  
  <div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button id="boton" (click)="presentModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</div>
