<div id="pagina">
  <div id="titulo">
    <h1><strong>Mi App de Tareas</strong></h1>
</div>

<div id="tarjeta">
  <ion-card class="ion-margin">
    <ion-label>{{vistaTarea.titulo}}</ion-label>
    <div>
      <p><strong>Fecha: </strong>{{vistaTarea.fechaMes}}/{{vistaTarea.fechaAnio}}</p>
      <p><strong>Descripción: </strong>{{vistaTarea.descripcion}}</p>
    </div>
    <div id="fotito">
      <img src="https://media1.tenor.com/m/Ipyx6B_We9cAAAAd/cat-fight-flex-cats.gif" height="250px">
    </div>
    <div id="iconos">
      <ion-icon name="arrow-redo"></ion-icon>
      <ion-icon name="download"></ion-icon>
      <ion-icon name="mail"></ion-icon>
    </div>
  </ion-card>
</div>